<div class="title-container">
  <div>
    <img src='assets/icon2.png' alt="task" height="42" width="42">
  </div>
  <div>
    <h1> Task Manager </h1>
  </div>
</div>

 <%= render "shared/leftbar"%>


<div class="container">
  <div class="row">


    <div class="col-sm">
      <h2>Today</h2>
      <ul>
        <% @tasks.each do |task| %>
        <li>
          <% if task.completed == true %>
            [x]
          <% else %>
            []
          <% end %>
          <%= task.title%>
          <button class="btn">
            <%= link_to '<i class="far fa-eye"></i>'.html_safe, task_path(task["id"]) %>
          </button>

           <button class="btn">
             <%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, task_path(task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
           </button>
        </li>
        <% end %>
      </ul>
      <div class="create-button">
        <%= link_to "+" , new_path %>
      </div>
    </div>

    <div class="col-sm">
      <h2>Tomorrow</h2>
      <ul>
        <% @tasks.each do |task| %>
        <li>
          <% if task.completed == true %>
            [x]
          <% else %>
            []
          <% end %>
          <%= task.title%>
          <button class="btn">
            <%= link_to '<i class="far fa-eye"></i>'.html_safe, task_path(task["id"]) %>
          </button>

           <button class="btn">
             <%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, task_path(task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
           </button>
        </li>
        <% end %>
      </ul>
      <div class="create-button">
        <%= link_to "+" , new_path %>
      </div>
    </div>


    <div class="col-sm">
      <h2>Upcoming</h2>
      <ul>
        <% @tasks.each do |task| %>
        <li>
          <% if task.completed == true %>
            [x]
          <% else %>
            []
          <% end %>
          <%= task.title%>
          <button class="btn">
            <%= link_to '<i class="far fa-eye"></i>'.html_safe, task_path(task["id"]) %>
          </button>

           <button class="btn">
             <%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, task_path(task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
           </button>
        </li>
        <% end %>
      </ul>
      <div class="create-button">
        <%= link_to "+" , new_path %>
      </div>
    </div>


    <div class="col-sm">
      <h2>Someday</h2>
      <ul>
        <% @tasks.each do |task| %>
        <li>
          <% if task.completed == true %>
            [x]
          <% else %>
            []
          <% end %>
          <%= task.title%>
          <button class="btn">
            <%= link_to '<i class="far fa-eye"></i>'.html_safe, task_path(task["id"]) %>
          </button>

           <button class="btn">
             <%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, task_path(task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
           </button>
        </li>
        <% end %>
      </ul>
      <div class="create-button">
        <%= link_to "+" , new_path %>
      </div>
    </div>


  </div>
</div>

