<div class="title-container">
  <div>
    <img src='assets/icon2.png' alt="task" height="42" width="42">
  </div>
  <div>
    <h1> My tasks </h1>
  </div>
</div>

 <%= render "shared/leftbar"%>


<div class="container">
  <div class="row">


    <div class="col-sm">
      <h2>Today</h2>
      <div>
        <%= link_to "Create task" , new_path %>
      </div>
      <ul>
        <% @tasks.each do |task| %>
        <li>
          <% if task.completed == true %>
            [x]
          <% else %>
            []
          <% end %>
          <%= link_to task.title , task_path(task["id"]) %>

           <button class="btn">
             <%= link_to "Delete", task_path(task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
           </button>
        </li>
        <% end %>
      </ul>
    </div>


    <div class="col-sm">
      <h2>Tomorrow</h2>
      <div>
        <%= link_to "Create task" , new_path %>
      </div>
      <ul>
        <% @tasks.each do |task| %>
        <li>
          <% if task.completed == true %>
            [x]
          <% else %>
            []
          <% end %>
          <%= link_to task.title , task_path(task["id"]) %>

           <button class="btn">
             <%= link_to "Delete", task_path(task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
           </button>
        </li>
        <% end %>
      </ul>
    </div>


    <div class="col-sm">
      <h2>Upcoming</h2>
      <div>
        <%= link_to "Create task" , new_path %>
      </div>
      <ul>
        <% @tasks.each do |task| %>
        <li>
          <% if task.completed == true %>
            [x]
          <% else %>
            []
          <% end %>
          <%= link_to task.title , task_path(task["id"]) %>

           <button class="btn">
             <%= link_to "Delete", task_path(task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
           </button>
        </li>
        <% end %>
      </ul>
    </div>


    <div class="col-sm">
      <h2>Someday</h2>
      <div>
        <%= link_to "Create task" , new_path %>
      </div>
      <ul>
        <% @tasks.each do |task| %>
        <li>
          <% if task.completed == true %>
            [x]
          <% else %>
            []
          <% end %>
          <%= link_to task.title , task_path(task["id"]) %>

           <button class="btn">
             <%= link_to "Delete", task_path(task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
           </button>
        </li>
        <% end %>
      </ul>
    </div>


  </div>
</div>

