<div class="container">
  <div class="row">

    <div class="col-sm">
      <h2>To-Do</h2>
      <ul>
        <% @tasks.todo.each do |task| %>
        <li>
          <i class="far fa-square"></i>
          <%= task.title%>
          <button class="btn">
            <%= link_to '<i class="far fa-edit"></i>'.html_safe, task_path(task["id"]) %>
          </button>

           <button class="btn">
             <%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, task_path(task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
           </button>
        </li>
        <% end %>
      </ul>
    </div>

    <div class="col-sm">
      <h2>Completed</h2>
      <ul>
        <% @tasks.completed.each do |task| %>
        <li>
          <% if task.completed == true %>
            <i class="far fa-check-square"></i>
            <%= task.title%>
          <button class="btn">
             <%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, task_path(task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
           </button>
          <% end %>
        </li>
        <% end %>
      </ul>
    </div>


  </div>
</div>

